* {
    padding: 0;
    margin: 0;
}

body {
    font-family: cursive;
    background-color: #F6F6C4;
}

.header {
    min-height: 350px;
}

.header h1 {
    color: #F6F6C4;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    padding: .5em 0 0;
}

.header h4 {
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
}

.header .big-spinner {
    background-color: #000;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    left: 41%;
    top: 33%;
}

.header .spinner-outer img {
    width: 250px;
}

.header .spinner-center img {
    position: absolute;
    width: 250px;
    bottom: 0%;
    width: 180px;
    left: 14%;
    top: 16%;
}

.header .spinner-sprite {
    position: absolute;
    left: 41%;
    top: 33%;
    color: #F6F6C4;
    font-size: 70px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    cursor: pointer;
}

.pause {
    position: absolute;
    left: 41%;
    top: 100px;
    color: #F6F6C4;
    font-size: 40px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    cursor: pointer;
}

.animi {
    animation: spin 5s linear infinite;
}

@keyframes spin {
    0% {
    transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
    
}

@-webkit-keyframes spin {
    0% {
    transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
    
}


@-moz-keyframes spin {
    0% {
    transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
    
}


@-o-keyframes spin {
    0% {
    transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
    
}


.bigger {
    animation: big .8s ease-in-out infinite;
}

@keyframes big {
    100% {
        transform: scale(1.2);
    }
    
    0% {
        transform: scale(1);
    }
}

@-webkit-keyframes big {
    100% {
        transform: scale(1.2);
    }
    
    0% {
        transform: scale(1);
    }
}


@-moz-keyframes big {
    100% {
        transform: scale(1.2);
    }
    
    0% {
        transform: scale(1);
    }
}


@-o-keyframes big {
    100% {
        transform: scale(1.2);
    }
    
    0% {
        transform: scale(1);
    }
}