/*
*
*
* @author Marco Tulio Macedo Rodrigues
* @version 0.1
*/

/*=============================== Layout ========================================*/

html,body, .capa{
	height: 100%;
}

body{
	background: url(imagens/logo-branca.png),   url(imagens/ruido.png),   linear-gradient(180deg,#41ffe5,#f8f226);
	background-attachment: fixed;
	font-family: Helvetica,Arial,sans-serif;
	overflow-x: hidden;
}
/* -- Barra de Navegação */
.img-logo{
	height: 70px;
	width: 132px;
	display: block;
	background: url(imagens/logo-branca.png) no-repeat;
	background-size: contain;
}
.logo-centro{
	height: 70px;
	width: 132px;
	display: block;
	background: url(imagens/icone.png) no-repeat;
	background-size: contain;

}
nav.navbar-transparente{
	padding: 15px 0px;
	background: rgba(0, 0, 0, 0.64);
	border: none;
}

.navbar-brand{
	padding: 5px 15px;
}

.divisor{
	width: 1px;
	height: 16px;
	background: white;
	margin: 16px 10px;
}

.navbar-inverse .navbar-nav>li>a, footer .nav a{
	color: white;
}
.navbar-inverse .navbar-nav>li>a:hover, footer .nav a:hover{
	color: #9bf0e1;
	background: none;
}

/* -- Imagem Capa do Site */
.player{
	padding-top: 250px;
	padding-left: 150px;
}
.capa{
	display: table;
	width: 100%;
}

.page-facebook{
	bottom: 0px;
	padding-top: 150px;
	padding-left: 50px;
	float: left;
}
.texto-capa{
	text-align: center;
	color: white;
	display: table-cell;
	vertical-align: middle;
}

/* -- Botões */
.btn-custom{
	color: white;
	border-radius: 500px;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	padding: 10px 35px;
	margin: 0px 15px;
	transition: background 0.4s, color 0.4s;
	text-transform: uppercase;
}
.btn-roxo{
	background: #7c25f8;
}

.btn-roxo:hover{
	background: #6207e3;
	color: white;
}

.btn-branco{
	border: 2px solid white;
}

.btn-branco:hover{
	background: white;
	color: black;
}

/***** Section Serviços ********/
#servicos{
	background: white;
	padding-top: 20px;
	padding-bottom: 20px;

}

.albuns{
	padding: 10px 0px 10px  0px;
}

/***** Section Recursos ********/
#recursos{
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;

}

.rotacionar{
	transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
	padding-left: 80px;
}

/***** Rodape ********/
footer{
	background: #000;
	padding: 50px 0px 20px 0px;
	position: relative;
}

.item-rede-social{
	float: right;
}

/*=============================== Tipografia ========================================*/
a:link{
	color: white;
	text-decoration: none;
}
a:link, a:visited {
	text-decoration: none
}
a:hover {
	text-decoration: none; 
	color: white;
	}
a:active {
	text-decoration: none
	}
h1{
	font-size: 100px;
	font-weight: 900;
	letter-spacing: -0.05em;
	margin-bottom: 50px;
}

h2{
	font-size: 50px;
	font-weight: 700;
	letter-spacing:  -0.04em;
}

h3{
	font-size: 30px;
	font-weight: 700;
	letter-spacing: -0.04em;
}

#rodape h4{
	color: #919496;
	font-size: 12px;
	text-transform: uppercase;

}

#servicos h2, #servicos h3{
	color: #7c25f8;
}

#recursos h3{
	color: #9bf0e1;
}